<div class="cartadicredito">
  <h1>Le tue carte</h1>



  <form (ngSubmit)="save(cartacredito)" #cartacredito="ngForm">
    <input type="text" name="numero" [(ngModel)]="cartacredito.numero" placeholder="Numero carta" required="required"/>
    <input type="text" name="cvv" [(ngModel)]="cartacredito.ccv" placeholder="Cvv" required="required"/>
    <input type="text" name="scadenza" [(ngModel)]="cartacredito.scadenza" placeholder="Scadenza" required="required"/>
    <button type="submit" class="btn btn-primary btn-block btn-large">Invio</button>
    <br>
  </form>
</div>
