<body>
<div id="w">
  <header id="title">
    <h1>Basket</h1>
  </header>
  <div id="page">
    <table id="cart">
      <thead>
      <tr>
        <th class="first">Photo</th>
        <th class="second">Qty</th>
        <th class="third">Product</th>
        <th class="fourth">Line Total</th>
        <th class="fifth">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <!-- shopping cart contents -->
      <tr  *ngFor=" let prodotto of listaProdottiCarrello">
        <!-- http://www.inkydeals.com/deal/ginormous-bundle/ -->
        <td><img src="{{prodotto.img}}"class="thumb"></td>
        <td><input type="number" value="1" min="1" max="99" class="qtyinput" [(ngModel)]="prodotto.quantitaDaAcquistare"></td>
        <td>{{prodotto.marca}}</td>
        <td>${{prodotto.prezzoIvato}}</td>
        <td><span class="remove"><img class="cestino" src="https://i.imgur.com/h1ldGRr.png" alt="X"(click)="deleteProdotto(this.prodotto)"></span></td>
      </tr>
      <td colspan="5" class="checkout">
        <button id="submitbtn"routerLink="/cartacredito">Checkout Now!</button>
        <button id="clearbtn" (click)="clearBasket(this.prodotto)">Clear basket</button>
      </td>




      <!-- tax + subtotal -->
      <tr class="extracosts">
        <td class="light">Shipping &amp; Tax</td>
        <td colspan="2" class="light"></td>
        <td>$35.00</td>
        <td>&nbsp;</td>
      </tr>
      <tr class="totalprice">
        <td class="light">Total:</td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2"><span class="thick"></span>{{somma}}</td>
      </tr>

      <!-- checkout btn -->
      <tr class="checkoutrow">
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

