<!DOCTYPE html>
<html lang="en">
<head>
  <title>I giàUnTelfono?</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Compra</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/login">Login</a></li>
      <li><a routerLink="/prodotto">Home</a></li>
      <li><a routerLink="/cartacredito">Le tue carte</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="logged==true"><a (click)="logout()"><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
      <li *ngIf="logged==true"><a routerLink="carrello"><span class="glyphicon glyphicon-shopping-cart"></span> Carrello</a></li>
      <li *ngIf="logged==false"><a routerLink="register"><span class="glyphicon glyphicon-pencil" ></span> Register</a></li>
      <li *ngIf="logged==false"><a routerLink="login"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
    </ul>
  </div>
</nav>
</body>
<router-outlet></router-outlet>

